@if (currentError !== null) {
<div class="error-container">
  <div class="error-card">
    <h2 class="error-card-title">Error</h2>
    <p class="error-card-message">{{ currentError }}</p>
  </div>
</div>
}

@if (currentUser === null) {
<app-user-login (login)="login($event)"></app-user-login>
}
@if (currentUser !== null) {
<app-user-logout [currentUser]="currentUser" (logout)="logout()"> </app-user-logout>

<div class="app-container">
  <app-channel-list [channels]="channels" [selectedChannel]="selectedChannel" (selectChannel)="selectChannel($event)"></app-channel-list>
  <div class="user-chat-container">

    @if (selectedChannel) {
    <app-user-list [users]="selectedChannel.users"></app-user-list>
    <app-chat [channel]="selectedChannel" [user]="currentUser"></app-chat>
    } @else {
    <app-user-list [users]="[]"></app-user-list>
    }
  </div>
</div>
}